# Build-Output
build/
*.o
*.d
*.a
*.so
*.dylib
*.sh
*.sh
/build/gcemu
/include/GLFW
/include/glad
/include/KHR
/include/stb

# Tools / IDE
compile_commands.json
compile_flags.txt
.cache/
.clangd/
.vscode/
.idea/
*.dSYM/

# macOS
.DS_Store

# Sonstiges
*.log
roms
testing
manual
test
texture-output
